body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: color(srgb rgb(24, 218, 111) green rgb(11, 136, 88));
}

.card {
    width: 300px;
    padding: 20px;
    background: rgb(5, 252, 157);
    border: 1px solid #1ea511;
    text-align: center;
}
button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #2aaa03;
    color: rgb(18, 196, 56);
    cursor: pointer;
}

button:hover {
    background: #057013;
}
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;

    /* thing checker thign blah blah also do you think we should make this code look more human made cuz it looks like the css is vibecoded and its lowk anoying hearing that all the time*/
    background-image:
        linear-gradient(45deg, #4caf50 25%, transparent 25%),
        linear-gradient(-45deg, #4caf50 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #4caf50 75%),
        linear-gradient(-45deg, transparent 75%, #4caf50 75%);
    background-size: 64px 64px;
    background-position: 0 0, 0 32px, 32px -32px, -32px 0;
    background-color: #2e7d32;

    animation: scrollBackground 8s linear infinite;
}

@keyframes scrollBackground {
    from {
        background-position:
            0 0,
            0 32px,
            32px -32px,
            -32px 0;
    }
    to {
        background-position:
            64px 64px,
            64px 96px,
            96px 32px,
            32px 64px;
    }
}