body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: color(srgb rgb(24, 218, 111) green rgb(11, 136, 88));
}

.card {
    width: 300px;
    padding: 20px;
    background: rgb(5, 252, 157);
    border: 1px solid #1ea511;
    text-align: center;
}
button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #2aaa03;
    color: rgb(18, 196, 56);
    cursor: pointer;
}

button:hover {
    background: #057013;
}